

HIVE_ENDPOINT=thrift://10.255.245.150:9083

MINIO_ENDPOINT=http://10.255.245.150:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

POSTGRES_HOST=10.255.245.150
POSTGRES_PORT=5432
POSTGRES_DB=datalake_ops
POSTGRES_USER=etl_service_user
POSTGRES_PASSWORD=

PREFECT_SERVER_ANALYTICS_ENABLED=false
PREFECT_API_ANALYTICS_ENABLED=false
PREFECT_API_URL= http://10.255.245.150:4200/api

OM_HOST=https://nextgen-dg.viettelcyber.com
OM_TOKEN=JWT TOKEN
OM_SPARK_BASE_DIR=