AMBARI_USERNAME=namtv40-datamining
AMBARI_PASSWORD=


# ambari|webhdfs_kerberos
HDFS_CLIENT=ambari

#Webhdfs_kerberos
# NAMENODES_HOST=namenod1.local,namenode2.local
# NAMENODES_PORT=1234
# NAMENODES_SCHEME=https

CRAWLER_HTTP_PROXY=192.168.5.8:3128
CRAWLER_HTTPS_PROXY=192.168.5.8:3128


LIVY_ENDPOINT=http://livy:8998
HDFS_SOURCE_CODE_DIR=/apps/prefect-external-flow/jobs


PREFECT_SERVER_ANALYTICS_ENABLED=false
PREFECT_API_ANALYTICS_ENABLED=false