AMBARI_USERNAME=namtv40-datamining
AMBARI_PASSWORD=

SURVICATE_API_KEY=
FRESHDESK_API_KEY=
FRESHWORKS_API_KEY=
FRESHWORKS_API_COOKIE=


TRINO_URL=jdbc:trino://10.254.130.48:8090/hive/cx_cso_raw
TRINO_USER=zeppelin-datamining
TRINO_PASSWORD=

POSTGRESQL_HOST=10.254.130.91
POSTGRESQL_PORT=7432
POSTGRESQL_DATABASE=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=

# ambari|webhdfs_kerberos|minio
HDFS_CLIENT=ambari


#Webhdfs_kerberos
# NAMENODES_HOST=namenod1.local,namenode2.local
# NAMENODES_PORT=1234
# NAMENODES_SCHEME=https


CRAWLER_HTTP_PROXY=192.168.5.8:3128
CRAWLER_HTTPS_PROXY=192.168.5.8:3128


TMP_DATA_DIR=./tmp/data


NOCODB_TABLE_ID=
NOCODB_TOKEN=-
NOCODB_URL="https://nocodb.viettelcyber.com/"



MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=https://10.255.245.150:9000
