# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Logs & Temporary Files
*.log
checkpoint/
checkpoints/
.spark-staging/
metastore_db/
derby.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env.local
