PREFECT_API_URL=http://prefect-server:4200/api

# =========================
# API Key EPM
# =========================
PROJECT_API_KEY=eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNyc2Etc2hhNTEyIiwidHlwIjoiSldUIn0.eyJ1c2VyTmFtZSI6IlZVRFQxNSIsInVzZXJJZCI6IjkuOTE2NDkzMTg1LjQwOTY3NDI1IiwiYXBpS2V5SWQiOiI2NzAuMjMzMjY3My40MDk2NzQyNSIsImFwcGxpY2F0aW9uQWNjZXNzIjoiQXBpIiwibmJmIjoxNzg3NjMyMTEyLCJleHAiOjE4MTkxNjgxMTIsImlzcyI6ImNsYXJpemVuLmNvbSJ9.DUq-k5fZj7XZdDZk9r1gffs_grvUBnsyVM6rZNNUpQm15cUFgvTA_NkACKTDjLuFQvYeOBjBLQqpbsEUqhVi0Ifa0xbKOStoyymAQc8TFbXluLSf4u6cBnRZ_939pJjocWNjktqSNU7o6UV9PSEkgDbOtqzQu22fv7hjih67FmiTtn0J0cNk7OGWn1nyUgrWTlQITnskvP5WK9nYgYZo538ZXocG_xirqLr7wrMgVybxWcBjpeWQTAP__rRIwfL0cdwgRmNbxIlpQz3QnAyucRbr-bhygrP0ht0KwMMHyAq9t-g77_0uDrlqu32BvgyZj3n1IgzlEHA5QU_u271ThQ


# =========================
# Target MinIO
# =========================
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=


# =========================
# Target Ambari
# =========================
AMBARI_USERNAME=
AMBARI_PASSWORD=