# Lightdash CLI auth
LIGHTDASH_URL=http://localhost:8080
LIGHTDASH_API_TOKEN=replace_with_lightdash_personal_access_token

# Optional target env for dbt
DBT_TARGET=dev

# Trino connection used by all domain projects
DBT_TRINO_HOST=10.0.247.157
DBT_TRINO_USER=admin
DBT_TRINO_PASSWORD=Welcome1
DBT_TRINO_CATALOG=hive
DBT_TRINO_SCHEMA=bi_gold
DBT_TRINO_HTTP_SCHEME=https

# ${domain}_PROJECT_UUID
# CRM_PROJECT_UUID=
# CX_PROJECT_UUID=
# FINANCE_PROJECT_UUID=
# HR_PROJECT_UUID=
# INVESTMENT_PROJECT_UUID=
# JIRA_PROJECT_UUID=
# NOC_PROJECT_UUID=
# OTHER_PROJECT_UUID=

DBT_MATERIALIZED=empharal|view