PREFECT_API_URL=http://prefect-server:4200/api

AIRFLOW_UID=1000

AMBARI_USERNAME=
AMBARI_PASSWORD=

SURVICATE_API_KEY=
FRESHDESK_API_KEY=
FRESHWORKS_API_KEY=
FRESHWORKS_API_COOKIE=


HDFS_CLIENT=ambari # ambari|webhdfs_kerberos


#Webhdfs_kerberos
# NAMENODES_HOST=namenod1.local,namenode2.local
# NAMENODES_PORT=1234
# NAMENODES_SCHEME=https

HTTP_PROXY=192.168.5.8:3128
HTTPS_PROXY=192.168.5.8:3128

TMP_DATA_DIR=./tmp/data




MINIO_NOC_ENDPOINT=https://10.255.245.150:9000
MINIO_NOC_ACCESS_KEY=
MINIO_NOC_SECRET_KEY=
MINIO_NOC_BUCKET=noc-metrics


MINIO_JIRA_ENDPOINT=https://10.255.245.150:9000
MINIO_JIRA_ACCESS_KEY=
MINIO_JIRA_SECRET_KEY=
MINIO_JIRA_BUCKET=jira-data


NOCODB_TABLE_ID=
NOCODB_TOKEN=
NOCODB_URL="https://nocodb.viettelcyber.com/"


PREFECT_SERVER_ANALYTICS_ENABLED=false

TRINO_HOST=10.255.245.150
TRINO_USERNAME=
TRINO_PASSWORD=
TRINO_CATALOG=
TRINO_HTTP_SCHEMA=https
TRINO_PORT=

MINIO_INPUT_BUCKET=
MINIO_OUTPUT_BUCKET=
AMBARI_OUTPUT_BUCKET=



# =========================
# Source Trino
# =========================
TRINO_SRC_HOST=trino.viettelcyber.com
TRINO_SRC_PORT=443
TRINO_SRC_USERNAME=
TRINO_SRC_PASSWORD=
TRINO_SRC_CATALOG=hive
TRINO_SRC_HTTP_SCHEME=https
TRINO_SRC_VERIFY_SSL=false

# =========================
# Target Trino
# =========================
TRINO_DST_HOST=10.255.245.150
TRINO_DST_PORT=8443
TRINO_DST_USERNAME=
TRINO_DST_PASSWORD=
TRINO_DST_CATALOG=hive
TRINO_DST_HTTP_SCHEME=https
TRINO_DST_VERIFY_SSL=false

# =========================
# Clone
# =========================
CLONE_BATCH_SIZE=50000
CLONE_TMP_DIR=./tmp/trino_parquet
CLONE_PARQUET_SCHEMA_DIR=./resources/parquet_schema

# =========================
# Trino session
# =========================
TRINO_TASK_MAX_WRITER_COUNT=1
TRINO_TARGET_MAX_FILE_SIZE=64MB

