# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================================================
# Virtual environments
# =========================================================
.venv/
venv/
env/

# =========================================================
# Environment / secrets
# =========================================================
.env
.env.*
!.env.example

# =========================================================
# Spark / Hadoop temporary files
# =========================================================
*.crc
_SUCCESS
._SUCCESS.crc
spark_test_output/
spark_test_parquet/
data/warehouse/dlq/

# =========================================================
# OS / Temporary files
# =========================================================
.DS_Store
Thumbs.db
~$*.xlsx
~$*.xls
~$*.docx
~$*.doc
*.tmp


